html {
  box-sizing: border-box;
  font: normal 62.5%/1.5 'Montserrat', sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
  background-color: #c8d6e5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 3.8rem;
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: 90%;
}

.quote__text {
  font-size: 3.2rem;
  line-height: 1.2;
}

.small-text {
  font-size: 2rem !important;
}

.quote__author {
  font-style: italic;
  font-size: 1.2rem;
}

.quote__display {
  background-color: #f5f6fa;
  border-radius: 0.8rem;
  padding: 1.5rem;
  box-shadow: 0 2.5rem 5rem -1.2rem rgba(0, 0, 0, 0.25);
}

.container--button {
  display: flex;
  justify-content: space-between;
}
.btn {
  cursor: pointer;
  margin: 0.8rem 0.4rem;
  border-color: transparent;
  border-radius: 0.5rem;
  background-color: #c9dbee;
  color: #2f3542;
  font-size: 1.4rem;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  outline: none;
  box-shadow: 0 0.5rem 0.5rem -0.1rem rgba(0, 0, 0, 0.25);
  /* filter: brightness(110%); */
  transition: 0.3s;
}

.btn:hover {
  filter: brightness(108%);
  background-color: #c8d6e5;
  color: #121722;
}

.btn:active {
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.35);
}

.btn__twitter:hover {
  color: #38a1f3;
}

.fa-twitter {
  font-size: 1.6rem;
}

/* Page loader animation */

.loader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 1rem;
  background: #38a1f3;
  border-radius: 5px;
  animation: load 1.8s ease-in-out infinite;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.loader:before,
.loader:after {
  position: absolute;
  display: block;
  content: '';
  animation: load 1.8s ease-in-out infinite;
  height: 1rem;
  border-radius: 5px;
}
.loader:before {
  top: -20px;
  left: 10px;
  width: 40px;
  background: #eb4d4b;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.loader:after {
  bottom: -20px;
  width: 35px;
  background: #badc58;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@keyframes load {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(40px);
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  .container {
    width: 95%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 70rem;
  }

  .quote__text {
    font-size: 3.2rem;
    font-weight: 300;
  }

  .quote__author {
    font-size: 1.4rem;
  }
}
